{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block main %}
	<section id="index">
		<section id="hero">			
			<h2>Plan your next adventure with us</h2>
			<p>Join a group or create your own</p>
			<a href="/group" class="button">Get started</a>
		</section>
		<section id="groups">
			<h2>Your Groups</h2>
			<ul>
				<li>
					<a href="#">
						<img src="{{ url_for('static', filename='images/japan.jpg') }}" alt="Group 1">
						<h3>Japan</h3>
						<p>Description of Japan</p>
					<span class="members">5 members</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{{ url_for('static', filename='images/kl.jpg') }}" alt="Group 2">
						<h3>Impromptu KL</h3>
						<p>Lfg...</p>
						<span class="members">10 members</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{{ url_for('static', filename='images/paris.jpg') }}" alt="Group 3">
						<h3>Paris</h3>
						<p>Description of Paris</p>
						<span class="members">3 members</span>
					</a>
				</li>
			</ul>
		</section>
		<section id="questionnaire">
			<h2>Take our questionnaire</h2>
			<p>Answer a few questions to help us plan your perfect trip</p>
			<a href="questionnaire.html" class="button">Start questionnaire</a>
		</section>
	</section>
{% endblock %}
