<!DOCTYPE html>
<html>
<head>
	<title>Monday</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script type="text/javascript" src="../static/js/script.js"></script>
</head>
<body>
	<header>
		<h1>Travel Planning Website</h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="group.html">Groups</a></li>
				<li><a href="questionnaire.html">Questionnaire</a></li>
				<li><a href="login.html">Login</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section id="hero">
			<h2>Plan your next adventure with us</h2>
			<p>Join a group or create your own</p>
			<a href="group.html" class="button">Get started</a>
		</section>
		<section id="groups">
			<h2>Your Groups</h2>
			<ul>
				<li>
					<a href="#">
						<img src="thumbnail1.jpg" alt="Group 1">
						<h3>Group 1</h3>
						<p>Description of Group 1</p>
					<span class="members">5 members</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="thumbnail2.jpg" alt="Group 2">
						<h3>Group 2</h3>
						<p>Description of Group 2</p>
						<span class="members">10 members</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="thumbnail3.jpg" alt="Group 3">
						<h3>Group 3</h3>
						<p>Description of Group 3</p>
						<span class="members">3 members</span>
					</a>
				</li>
			</ul>
		</section>
		<section id="questionnaire">
			<h2>Take our questionnaire</h2>
			<p>Answer a few questions to help us plan your perfect trip</p>
			<a href="questionnaire.html" class="button">Start questionnaire</a>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Travel Planning Website. All rights reserved.</p>
	</footer>
</body>
</html>